@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*indexpage*/

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/1310777/pexels-photo-1310777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	display: table;
	top: 0;

}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;


}

.content {
	max-width: 500px;
	margin: auto;
	text-align: center;
	max-height: 300px;
	
	background-color: #23312A;
	position: relative;
	border: #037770 3px solid;
	border-radius: 26px;
	opacity: .98;
	box-shadow: 5px 5px 35px #EAB241;
}


.content h1{
	font-family: 'Josefin Sans', sans-serif;
	color: #D6D3D3;
	text-shadow: 0px 0px 300px #000;
	font-size: 350%;
	margin-right: 30px;

}

.content img {
	float: left;
	margin-top: 20px;
	margin-left: 50px;

}
.content blockquote {
	font-family: 'Architects Daughter', sans-serif;
	color: #EDF1F1;
	text-shadow: 0px 0px 300px #000;
	font-size: 190%;
}

.btn {
	border-radius: 9px;
	font-family: 'Quicksand', sans-serif;
	color: #FCFAF9;
	font-size: 100%;
	padding: 10px 20px;
	border: #26902D 3px solid;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #0C0922;
}

.btn:hover {
	color: #ABC7AD;
	border: #26902D 3px solid;
}




@media only screen and (max-width: 600px) {
	.content {
		width: 80%;
	}
	.content blockquote {
		display: none;
	}
	.content h1 {
		margin-left: 40px;
	}
	.content img{
		margin-left: 90px;
	}
}




/*aboutpage*/

.intro2 {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: cover;
	display: table;
}

.branding {
	float: left;
	margin-top: -10px;
	margin-left: 15px;
  	color: white;
  	text-align: center;
  	padding: 5px 30px; 
  	font-family: 'Josefin Sans';
}



 .branding a{
	list-style-type: none;
	text-decoration: none;
	float: left;
	margin-top: -40px;
	margin-left: 30px;
  	color: white;
  	text-align: center;
  	padding: 5px 30px; 
  	font-family: 'Josefin Sans';	
}

.logo {
	float: left;
	margin-top: 20px;
	margin-left: 5px;
	display: flex;
}

nav {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #333;
  opacity: .9;
}

ul { 
	list-style-type: none;
	float: right;
	
}
li {
  float: left;
  font-size: 20px;

}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 9px;
}

li a:hover {
  background-color: #282505;
}

.active {
	border: #26902D 3px solid;
	background-color: #0C0922;
	border-radius: 9px;
	padding-bottom: 1px;
	
}


.wrapper{
	margin-top: 10px;

}

.wrapper h1 {
	font-family: 'Allura', cursive;
	font-size: 72px;
	margin-bottom: 50px;
	text-align: center;
	color: #FF9600;
	text-shadow: 2px 2px #FF0000;
}

.wrapper h3, p{
	font-family:'Josefin Sans';
}

.team {
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.team .team_member {
	background: #DDDAD7;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	position: relative;
}

.team .team_member h3{
	color: #81c644;
	font-size: 26px;
	margin-top: 50px;
}

.team .team_member p.role {
	color: #645555;
	font-size: 20px;
	text-transform: uppercase;
	margin: 12px 0;
}

.team .team_member .team_img {
	width: 100px;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.team .team_member .team_img img {
	width: 100px;
	height: 100px;
	border: 2px;
  	padding: 10px;
  	border-radius: 50%;
  	background: #fff;
} 


.team .team_member .team_img img {
  padding: 5px;
  background-color: white;
  transition: transform 1s; 
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.team .team_member .team_img img:hover {
  transform: scale(1.5); 
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.intro2  .logo{
		margin-right: 64px;
	}
}*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.intro2 {
   		width: 100vw;
		height: 100vh;
		/*position: fixed;*/
	}

	.intro2 .branding {
		margin-left: 30%;
	}
	.intro2 ul li{
		width: 90vw;
	}
	.intro2 .active {
		margin-right: 250px;
		margin-left: 250px;
	}
}


/*homepage*/


.intro3 {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	/*display: table;*/
	/*top: 0;*/
}

.servicestitle h1 {
	font-family: 'Allura', cursive;
	font-size: 72px;
	margin-top: 5px;
	text-align: center;
	color: #FF9600;
	text-shadow: 2px 2px #FF0000;
}

.slide {
	width: 200px;
	height: 260px;
	perspective: 1500px;
	position: absolute;
	top: 6.5%;
	left: 50%;
	transform: translate(-50%, 50%);
	display: inline;
}

.slide-carrousel {
	width: 200px;
	height: 300px;
	animation: animate 10s infinite linear;
	transform-style: preserve-3d;
}

figure {
	width: 240px;
	height: 330px;
	overflow: hidden;
	box-shadow: 0 0 20px #493602;
	position: absolute;
	border-radius: 5px;
}


figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px);
}
figure:nth-child(2) {
	transform: rotateY(45deg) translateZ(300px);
}
figure:nth-child(3) {
	transform: rotateY(90deg) translateZ(300px);
}
figure:nth-child(4) {
	transform: rotateY(135deg) translateZ(300px);
}
figure:nth-child(5) {
	transform: rotateY(180deg) translateZ(300px);
}
figure:nth-child(6) {
	transform: rotateY(225deg) translateZ(300px);
}
figure:nth-child(7) {
	transform: rotateY(270deg) translateZ(300px);
}
figure:nth-child(8) {
	transform: rotateY(315deg) translateZ(300px);
}
figure:nth-child(9) {
	transform: rotateY(360deg) translateZ(300px);
}
figure:nth-child(10) {
	transform: rotateY(405deg) translateZ(300px);
}



.slide-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.slide-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes animate{
	from{
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}



@media only screen and (max-width: 600px) {
	
	.intro3 {
		height: 100vh;
		position: fixed;
	}

	.intro3 .branding {
		margin-left: 10%;
	}
	.intro3 ul li{
		width: 70vw;
	}
	.intro3 .servicestitle h1{
		font-size: 50px;
		margin-left: -30px;
	}
	.slide{
		height: 100vh;
	}
	.slide-carrousel figure {
		margin-top: 50px;
		width: 70%;
		height: 70%;
	}
	.intro3 .active {
		margin-right: 50px;
		margin-left: 50px;
	}
}

/*@media only screen  and (min-width : 1224px) {
	.intro3 {
		height: 100vh;
		position: fixed;
	}
	.intro3 .branding {
		margin-left: 10%;
	}
	.intro3 ul li{
		width: 70vw;
	}
	.intro3 .servicestitle h1{
		font-size: 50px;
		margin-left: -30px;
	}
	.intro3 .active ul li {
		margin-right: 50px;
		margin-left: 50px;
	}
	.slide {
		display: none;
		}

}
*/

@media only screen and (min-width: 768px) {

	.slide {
		margin-top: 20px;
	}
}





/*gallerypage*/
.intro4 {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/1679825/pexels-photo-1679825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	display: table;
	/*position: fixed;
	/*top: 0;*/
}

.menutitle h1 {
	font-family: 'Allura', cursive;
	font-size: 72px;
	margin-top: 20px;
	text-align: center;
	color: #FF9600;
	text-shadow: 2px 2px #FF0000;
}


.container {
	width: 1280px;
	/*margin-top: -50px;*/
	margin-left: 30px;
	/*margin: 70px auto 0;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;


}
.container .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 11px;
	box-shadow: 5px 10px 23px #EFAC24;
	
}

.container .box .imgBox {
	position: relative;
	overflow: hidden;
	border-radius: 10px;

}

.container .box .imgBox img {
	 object-fit: cover;
	 width: 300px;
	  height: 300px;	
}


.container .box:hover .imgBox img {
	transform: scale(1.1);

}

.container .box .details {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform 1s;
}

.container .box:hover .details {
	transform: scaleY(1);
}

.container .box .details .details2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}

.container .box .details .details2 h2{
	font-family: Architects Daughter;
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
	text-shadow: 2px 2px #FF0000;
}

.container .box .details .details2 p {
	margin: 10px 0 0;
	padding: 0;
}

@media only screen and (max-width: 600px) {
	
	.intro4 {
		height: 100vh;
		position: fixed;
	}

	.intro4 .branding {
		margin-left: 10%;
	}
	.intro4 ul li{
		width: 70vw;
	}
	.intro4 .active {
		margin-right: 50px;
		margin-left: 50px;
	}
	.container {
	width: 50%;
	/*margin-top: 50px;
	margin-left: 30px;*/
	/*margin: 70px auto 0;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
	.container .box {
		
	/*position: relative;*/
	width: 100px;
	height: 100px;
	/*background: #ff0;*/
	/*margin: 10px;*/
	box-sizing: border-box;
	display: inline-block;
	border-radius: 11px;
	box-shadow: 5px 10px 23px #EFAC24;
	}
	/*.container .box .imgBox {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	}*/

	.container .box .imgBox img {
	/* object-fit: cover;*/
	/*display: none;*/
	/* width: 100vw;
	  height: 100vh;*/	
	  }
}


/*@media only screen and (min-width: 768px) {
	.intro4 {
		height: 100vh;
		position: fixed;
	}
	.intro4 .branding {
		margin-left: 30%;
	}
	.intro4 ul li{
		width: 70vw;
		margin-left: 50px;
	}
	.intro4 .active {
		margin-right: 50px;
		margin-left: 50px;
	}
	.container {
	width: 100%;
	margin-top: 50px;
	margin-left: 50px;
	/*margin: auto;*/

	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}*/
/*	.container .box {*/
		
	/*position: relative;*/
	/*width: 150px;
	height: 150px;*/
	/*background: #ff0;*/
	/*margin: 10px;*/
	/*box-sizing: border-box;*/
	/*display: inline-block;*/
	/*border-radius: 11px;
	box-shadow: 5px 10px 23px #EFAC24;*/
	/*}*/
	/*.container .box .imgBox img {*/

	/* object-fit: cover;*/
	/*display: none;*/
	/* width: 100vw;
	  height: 100vh;*/	
/*	  }
}*





/*contactpage*/

.intro5 {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(https://images.pexels.com/photos/1395964/pexels-photo-1395964.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: cover;
	display: table;
	position: fixed;
	top: 0;
}


/** {
	box-sizing: border-box;
}*/

button, input {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	letter-spacing: 1.4;
}

.background {
	display: flex;
	min-height: 100vh;
	margin-top: -60px;
}

.contact {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
}

.screen {
	position: relative;
	background-color: #3e3e3e;
	border-radius: 15px;
}

.screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.screen-header-left {
	margin-right: auto;
}

.screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background-color: #fff;
}

.screen-header-button.close {
	background-color: #ed1c6f;
}

.screen-header-button.maximize {
	background-color: #e8e925;
}

.screen-header-button.minimize {
	background-color: #74c54f;
}

.screen-header-right {
	display: flex;
}

.screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background-color: #999;
}


.screen-body {
	display: flex;
}

.screen-body-item {
	flex: 1;
	padding: 50px;
}

.screen-body-item.left {
	display: flex;
	flex-direction: column;
}

.app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #FC4C05;
	font-size: 36px;
}

.app-title:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background-color: #FC4C05;
}

.app-contact {
	margin-top: auto;
	font-size: 15px;
	color: #888;
}

.app-form-group {
	margin-bottom: 15px;
}

.app-form-group.message {
	margin-top: 40px;
}

.app-form-group.button {
	margin-bottom: 0px;
	text-align: right;
}

.app-form-control {
	width: 100%;
	padding: 10px 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color 0.2s;
}

.app-form-control::placeholder {
	color: #666;
}

.app-form-control::focus {
	border-bottom-color: #ddd;
}

.app-form-button {
	background-color: transparent;
	border: none;
	color: #FC4C05;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}

.app-form-button:hover {
	color: #b9134f;
}

@media screen and (max-width: 520px){

	.background{
		margin-top: -45px;
		position: fixed;
		height: 100vh;
	}
	.screen-body{
		flex-direction: column;
	}

	.scren-body-item.left{
		margin-bottom: 30px;
	}

	.app-title{
		flex-direction: row;
	}

	.app-title span{
		margin-right: 12px;
	}

	.app-title:after {
		display: none;
	}
}

@media screen and (max-width: 600px){
	.screen-body{
		padding: 40px;
	}

	.scren-body-item.left{
		padding: 0;
	}

}
	
/*last push*/